<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:page_title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class=site>
    <div class="headers">
        <header class="navbar navbar-static-top first-header">
          <div class="container">
            <%= render 'layouts/partials/first_navbar' %>
          </div>
        </header>

        <header class="navbar navbar-static-top second-header">
          <div class="container">
            <%= render 'layouts/partials/second_navbar' %>
          </div>
        </header>
      </div>
      <div class="content">
        <%= yield %>
      </div>
      <footer class="footer">
        <p>Mentor City</p>
      </footer>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
